@model Finalpro.Models.Tratamientos

<h1>Confirmar Eliminación</h1>

<div>
    <h4>Id: @Model.IdTratamiento</h4>
    <h4>Fecha de Inicio: @Model.FechaInicio.ToShortDateString()</h4>
    <h4>Descripción del Tratamiento: @Model.DescripTratamiento</h4>
    
</div>
<form asp-action="Delete">
    <input type="hidden" asp-for="IdTratamiento" />
    <button type="submit" class="btn btn-danger">Confirmar Eliminación</button> |
    <a asp-action="Index">Cancelar</a>
</form>
