@model Finalpro.Models.Citas

<h1>Nueva Cita</h1>

<form asp-action="Create">
    <div class="form-group">
        <label>Id Paciente</label>
        <input type="text" class="form-control" asp-for="IdPaciente" />
    </div>
    <div class="form-group">
        <label>Fecha Cita</label>
        <input type="datetime" class="form-control" asp-for="FechaCita" />
    </div>
   

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
