@model Finalpro.Models.Pacientes

<h1>Detalles del Paciente</h1>

<div>
    <h4>Id: @Model.IdPaciente</h4>
    <h4>Nombre: @Model.NombrePaciente</h4>
    <h4>Apellido: @Model.ApellidoPaciente</h4>
   
</div>
<p>
    <a asp-action="Index">Volver al Listado</a>
</p>
