@model Finalpro.Models.Radiologia

<h1>Detalles de Radiología</h1>

<div>
    <h4>Id: @Model.IdRadiologia</h4>
    <h4>Nombre Paciente: @Model.NombrePaciente</h4>
    <h4>Edad Paciente: @Model.EdadPaciente</h4>

</div>
<p>
    <a asp-action="Index">Volver al Listado</a>
</p>
