@model Finalpro.Models.Radiologia

<h1>Editar Radiología</h1>

<form asp-action="Edit">
    <input type="hidden" asp-for="IdRadiologia" />

    <div class="form-group">
        <label>Nombre Paciente</label>
        <input type="text" class="form-control" asp-for="NombrePaciente" />
    </div>
  
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>
