@model Finalpro.Models.HistorialMedico

<h1>Nuevo Historial Médico</h1>

<form asp-action="Create">
    <div class="form-group">
        <label>Id Paciente</label>
        <input type="text" class="form-control" asp-for="IdPaciente" />
    </div>
    

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
