@model Finalpro.Models.SeguroDental

<h1>Nuevo Seguro Dental</h1>

<form asp-action="Create">
    <div class="form-group">
        <label>Nombre Seguro</label>
        <input type="text" class="form-control" asp-for="NombreSeguro" />
    </div>
   
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
