@model Finalpro.Models.SeguroDental

<h1>Detalles de Seguro Dental</h1>

<div>
    <h4>Id: @Model.IdSeguro</h4>
    <h4>Nombre Seguro: @Model.NombreSeguro</h4>
    <h4>Nombre Asegurado: @Model.NombreAsegurado</h4>
   
</div>
<p>
    <a asp-action="Index">Volver al Listado</a>
</p>
