@model Finalpro.Models.Proveedores

<h1>Nuevo Proveedor</h1>

<form asp-action="Create">
    <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" asp-for="NombreProveedor" />
    </div>
  

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
