@model Finalpro.Models.Proveedores

<h1>Detalles del Proveedor</h1>

<div>
    <h4>Id: @Model.IdProveedor</h4>
    <h4>Nombre: @Model.NombreProveedor</h4>
    <h4>Teléfono: @Model.TelefonoProveedor</h4>
    <h4>Email: @Model.EmailProveedor</h4>
   
</div>
<p>
    <a asp-action="Index">Volver al Listado</a>
</p>
